* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 2rem auto;
}

.container h1 {
  margin: 1rem 0;
  font-weight: 600;
  font-size: x-large;
  color: #324146;
}

.container .description {
  margin-bottom: .8rem;
  font-weight: 100;
  color: #355056;
}

textarea {
  background-color: #355056;
  border: 1px solid #324146;
  border-radius: .3rem;
  color: #ffffff;
  padding: .5rem 0;
  margin-bottom: .5rem;
}

button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #324146;
  color: #324146;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
  margin-bottom: .5rem;
}

button:hover {
  color: #fff;
  background-color: #324146;
  border-color: #324146;
}